<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
    <!-- Add your custom feed url -->
    <add key="nuget Feed" value="https://api.nuget.org/v3/index.json" />
        <add key="Custom Feed Source" value="" />
  </packageSources>
<config>
<!-- Add your repository Path -->
    <add key="repositoryPath" value="E:\SharedDrivePath\Packages" />
</config>
</configuration>
